@import '../../../Style/common.scss';

.articleMd {
  font-family: $fontFamily;
  width: 1440px;
  height: 713px;
  padding: 82px 0 50px;
  background-color: #f7f7f7;
  font-family: $fontFamily;
  .mdTitle {
    width: 1425px;
    height: 36px;
    padding: 0px 0px 64px 0;
    .mdTitleName {
      color: #333333;
      font-size: 28px;
      font-weight: bold;
      text-align: center;
    }
  }
  .mdMiddleTitle {
    @extend %flexCenter;
    width: 1280px;
    height: 46px;
    margin: 0 auto;
    .middleUl {
      margin-left: 50px;
      .middleLi {
        display: inline-block;
        width: auto;
        height: 46px;
        &:not(last-child) {
          margin-right: 48px;
        }
        .middleLink {
          color: #888;
          font-size: 22px;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
  .mdContentsBox {
    border: 1px solid black;
    width: 1280px;
    height: 440px;
    margin: 22px auto 0 auto;
    .mdContents {
      position: relative;
      width: 300px;
      height: 440px;
      margin: 0 10px;
      border: 1px solid black;
      border-radius: 10px;
      .mdImgCartBox {
        position: relative;
        width: 300px;
        height: 300px;
        border-radius: 10px 10px 0 0;
        .mdSale {
          position: absolute;
          width: 70px;
          height: 43px;
          background-color: #51b06a;
          border-radius: 8px 0;
          opacity: 0.9;
          .mdDiscount {
            position: absolute;
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            top: 13px;
            left: 16px;
          }
        }
        .mdContentsImg {
          width: 299px;
          height: 300px;
          border-radius: 10px 10px 0 0;
          object-fit: cover;
        }
        .mdCartButton {
          position: absolute;
          width: 44px;
          height: 44px;
          background-color: #ebedea;
          border: 0;
          border-radius: 50%;
          top: 240px;
          left: 240px;
          opacity: 0.9;
          .fa-shopping-cart {
            position: absolute;
            color: #787878;
            font-size: 20px;
            top: 13px;
            left: 10px;
          }
        }
      }
    }
  }
}
