@import '../../Style/common.scss';

.ctgListWrap {
  width: 1280px;
  height: 90px;
  margin: 0 auto;

  .ctgTitle {
    padding: 10px 0 10px;
    align-items: center;
    font-family: $fontFamily;
    img {
      width: 100px;
      height: 50px;
      margin-left: 10px;
    }
  }
}

.sortBox {
  display: flex;
  justify-content: space-between;
  padding: 10px 0 15px;
}

.LeftCtgType {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .ctgType {
    list-style: none;
    display: flex;
  }

  .ctgInner {
    cursor: pointer;
    &:hover span {
      text-decoration: underline;
      color: $greenColor;
      transition: 0.3s;
    }
  }

  a {
    text-decoration: none;
    color: black;
  }
  span {
    padding-left: 10px;
    font-family: $fontFamily;
    font-size: 10px;
  }
}

.LightCtgType {
  a {
    text-decoration: none;
    font-family: $fontFamily;
    font-size: 10px;
    color: black;
  }
}
