$realOrange: #fe7602;

%buttonSetting {
  width: 320px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.loginBTN {
  @extend %buttonSetting;
  background-color: $realOrange;
  border: none;
  color: white;
}
.signupBTN {
  @extend %buttonSetting;
  color: $realOrange;
  margin-top: 10px;
  background-color: white;
  border: 1px $realOrange solid;
}
// #FE7602
