@import '../../../Style/common.scss';

.mdContents {
  margin: 0 10px;
  border: 1px solid #f7f7f7;
  border-radius: 10px;
  background-color: #fff;

  .mdImgCartBox {
    position: relative;
    border-radius: 10px 10px 0 0;

    .mdSale {
      position: absolute;
      width: 70px;
      height: 43px;
      background-color: #51b06a;
      border-radius: 8px 0;
      opacity: 0.9;

      .mdDiscount {
        position: absolute;
        color: #fff;
        font-size: 16px;
        font-weight: bold;
        top: 13px;
        left: 16px;
      }
    }

    .mdContentsImg {
      width: 300px;
      height: 300px;
      border-radius: 10px 10px 0 0;
      object-fit: cover;
    }

    .mdCartButton {
      position: absolute;
      width: 44px;
      height: 44px;
      background-color: #ebedea;
      border: 0;
      border-radius: 50%;
      top: 240px;
      left: 240px;
      opacity: 0.9;

      .fa-shopping-cart {
        position: absolute;
        color: #787878;
        font-size: 20px;
        top: 13px;
        left: 10px;
      }
    }
  }

  .mdInfo {
    margin: 12px 12px 20px 12px;
    background-color: #fff;

    .mdSubjectBox {
      width: 276px;
      height: 63px;
      line-height: 30px;

      .mdSubject {
        font-size: 22px;
      }
    }

    .mdPriceBox {
      margin-top: 11px;

      .mdPrice {
        display: inline-block;
        width: auto;
        height: 28px;
        margin-right: 10px;
        color: #333333;
        font-size: 22px;

        .fontBold {
          font-weight: 700;
        }
      }

      .priceDiscount {
        margin-top: 2px;
        color: #b2b2b2;
        font-size: 18px;
        font-weight: 500;
        text-decoration: line-through;
      }
    }
  }
}
