@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

%flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

* {
  box-sizing: border-box;
}

$fontFamily: 'Noto Sans KR', sans-serif;
$greenColor: #46b66f;
$orangeColor: #ff4b00;
