@import '../../Style/common.scss';

.Nav {
  @extend %boxsizing;
  border-bottom: 2px solid #f7f7f7;
  .navBox {
    @extend %flexSpaceBetween;
    width: 1280px;
    height: 130px;
    margin: 0 auto;
    .navSearch {
      width: 220px;
      height: 40px;
      position: relative;
      .inputSearch {
        width: 160px;
        height: 40px;
        background: #f7f7f7;
        font-size: 14px;
        font-family: $fontFamily;
        border-radius: 20px;
        border: 1px solid #dbdbdb;
        padding: 0px 45px 0px 15px;
      }
      .navSearchButton {
        width: 52px;
        height: 43px;
        background: none;
        border: 0;
        position: absolute;
        top: 1px;
        left: 175px;
        .fa-search {
          width: 20px;
          height: 20px;
          font-size: 20px;
          color: #787878;
        }
      }
    }
    .Logo {
      width: 200px;
      height: 100px;
      .logoImg {
        width: 200px;
        height: 100px;
        object-fit: cover;
      }
    }
    .myMeat {
      @extend %flexCenter;
      width: 230px;
      height: 24px;
      .fa-user {
        font-size: 24px;
        color: #787878;
      }
      .myMeatLink {
        width: 82px;
        height: 16px;
        color: #333;
        font-family: $fontFamily;
        font-size: 12px;
        padding: 5px 15px 0px 5px;
        text-decoration: none;
      }
      .fa-shopping-cart {
        font-size: 24px;
        color: #787878;
      }
      .myMeatCart {
        width: 50px;
        height: 16px;
        color: #333;
        font-family: $fontFamily;
        font-size: 12px;
        padding: 5px 0px 0px 5px;
        text-decoration: none;
      }
      .cartCount {
        @extend %flexCenter;
        width: 21px;
        height: 21px;
        color: #fff;
        padding-top: 3px;
        background-color: $orangeColor;
        border-radius: 50%;
      }
    }
  }
  .navCategory {
    @extend %flexCenter;
    font-family: $fontFamily;
    width: 1280px;
    height: 64px;
    margin: 0 auto;
    .categoryLeft {
      width: 935px;
      height: 26px;
      .categoryLeftUl {
        .fa-bars {
          color: #333;
          font-size: 20px;
          margin-right: 10px;
        }
        .categoryLeftLi {
          color: #333;
          margin-right: 28px;
          display: inline-block;
          .categoryLeftLink {
            text-decoration: none;
            color: #333333;
          }
        }
      }
    }
    .categoryRight {
      width: 346px;
      height: 26px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      .categoryRightUl {
        .categoryRightLi {
          color: #333;
          margin-left: 35px;
          display: inline-block;
          .categoryRightLink {
            text-decoration: none;
            color: #333333;
          }
        }
      }
    }
  }
}
