@import '../../Style/common.scss';

.navCategory {
  @extend %flexCenter;
  position: sticky;
  height: 64px;
  margin: 0 auto;
  background-color: #fff;
  font-family: $fontFamily;
  top: 0;
  z-index: 1;

  .categoryLeft {
    width: 935px;
    height: 100%;

    .categoryLeftUl {
      display: flex;
      align-items: center;
      position: relative;
      height: 100%;

      .fa-bars {
        margin-right: 10px;
        color: #333333;
        font-size: 20px;
      }

      .parentCategory {
        display: inline-block;
        line-height: 100%;
        vertical-align: middle;
        margin-right: 28px;
        color: #333333;

        &:hover {
          color: #ed462f;
        }
      }

      .categoryBox {
        position: absolute;
        width: 150px;
        height: auto;
        background-color: #fff;
        color: #333333;
        border-radius: 5px;
        border: 1px solid #e5e5e5;
        top: 45px;
        left: -10px;
        cursor: pointer;

        .category {
          width: 165px;
          height: 48px;
          padding: 10px 16px 0px 16px;
          font-size: 18px;

          .categoryImg {
            width: 20px;
            height: 20px;
            margin-right: 10px;
          }

          .subCategoryBox {
            position: absolute;
            width: 150px;
            height: 386px;
            border-radius: 5px;
            border: 1px solid #e5e5e5;
            top: 0px;
            left: 147px;
            cursor: pointer;
            background-color: #f7f7f7;

            .subCategory {
              width: 168px;
              height: 48px;
              padding: 13px 20px 0px 30px;
              color: #333333;

              .subCategoryLink {
                text-decoration: none;
                color: #333333;
              }
            }
          }
        }
      }

      .categoryLeftLi {
        display: inline-block;
        margin-right: 28px;
        color: #333333;

        .categoryLeftLink {
          color: #333333;
          text-decoration: none;

          &:hover {
            color: #ed462f;
          }
        }
      }
    }
  }

  .categoryRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 346px;
    height: 26px;

    .categoryRightUl {
      .categoryRightLi {
        display: inline-block;
        margin-left: 35px;
        color: #333;

        .categoryRightLink {
          color: #333333;
          text-decoration: none;
        }
      }
    }
  }
}
