.MessageBody {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1280px;
  margin: 0 auto;
  margin-top: 10px;

  .noProductMessage {
    margin: 20px 90px 20px 90px;
    background-color: #f2f2f2;

    .message {
      padding: 100px;
      font-size: 18px;
      line-height: 1.5;
      text-align: center;
    }
  }
}
