// @import '../../../Style/common.scss';

.bodyCenter {
  margin: 10px 0 0 20px;
}

.prdBox {
  float: left;
  width: 296px;
  height: 493px;
  margin-left: 10px;

  .imgBox {
    position: relative;
  }
}
