.recommandProducts {
  width: 1000px;
  height: 320px;
  margin-top: 100px;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);

  .recommandTitle {
    font-size: 20px;
  }

  .productsList {
    width: 1000px;
    height: 100%;
    background-color: blue;
  }

  .recommandProductList {
    display: flex;
    justify-content: center;
    list-style-type: none;
  }
}
