@import '../../../Style/common.scss';

.banner {
  position: relative;
  height: 400px;

  .leftButton {
    position: absolute;
    width: 54px;
    height: 54px;
    border: 0;
    border-radius: 50%;
    opacity: 0.3;
    top: 50%;
    left: 1%;

    &:focus {
      outline: none;
    }

    .fa-angle-left {
      font-size: 20px;
    }
  }

  .rightButton {
    position: absolute;
    width: 54px;
    height: 54px;
    border: 0;
    opacity: 0.3;
    border-radius: 50%;
    top: 50%;
    right: 1%;

    &:focus {
      outline: none;
    }

    .fa-angle-right {
      font-size: 20px;
    }
  }

  .bannerImg {
    width: 1440px;
    height: 400px;
    object-fit: cover;
  }
}
