@import '../SignUp.scss';

input {
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  width: 522px;
  height: 54px;
  padding-left: 18px;
  padding-right: 18px;
}
input:focus {
  color: $realOrange;
  border-color: $realOrange;
  outline: none;
}
input::placeholder {
  font-size: 16px;
}
