@import '../SignUp.scss';

.SignUpForm {
  display: flex;
  width: 562px;
  height: 600px;
  padding: 0 54px 0 54px;
  margin: 0 auto;
  background-color: white;
  border: 1px solid rgba($color: #000000, $alpha: 0.2);
  flex-direction: column;

  .SignUpTitle {
    padding: 40px 0 40px 0;
    font-size: 30px;
    font-weight: bold;

    em {
      color: $realOrange;
    }
  }

  .SignUpBtn {
    width: 360px;
    height: 56px;
    margin: 0 auto;
    margin-top: 20px;
    background-color: $realOrange;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
}
